<div class="container py-5">
  <div class="text-center">
    <h1 class="display-4 mb-4">Welcome to OAuth Demo App</h1>

    <% if user_signed_in? %>
      <p class="lead">Hello, <strong><%= current_user.email %></strong>! You are logged in.</p>
      <div class="d-grid gap-2 d-md-block mt-4">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-danger btn-lg" %>
      </div>
    <% else %>
      <p class="lead">Please sign in to access your dashboard.</p>
      <div class="d-grid gap-2 d-md-block mt-4">
        <%= link_to 'Login', oauth_login_path, class: "btn btn-primary btn-lg me-2" %>
      </div>
    <% end %>
  </div>

  <hr/>
  
  <div class="text-center row">
    <div class="col-2">&nsc;</div>
    <div class="col-8">
      <%= form_with url: "/shorten", method: :post, class: 'form-inline' do |form| %>
        <div class="row g-3">
          <div class="col mb-4">
            <%= form.url_field :original_url, class: 'form-control' %>
          </div>
          <div class="col mb-4">
            <%= form.submit "Create Shorten Url", class: "btn btn-primary px-4" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-2">&nsc;</div>
  </div>
</div>
